<!DOCTYPE html>
<html lang="es" data-theme="default">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Contacta con EcoMóvil</title>
    <meta name="description"
        content="EcoMóvil es una empresa de vehículos eléctricos disponibles para prestamo. Esta página permite a nuestros empleados gestionar nuestra flota." />
    <meta name="keywords"
        content="transporte ecológico, vehículos eléctricos, movilidad sostenible, EcoMóvil, soluciones de transporte, movilidad verde" />
    <meta name="author" content="EcoMóvil" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="img/Logo.svg" type="image/x-icon" />

    <!-- Enlaces a las hojas de estilo -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>
    <!-- NAVBAR -->
    <%- header %>

    <main aria-label="Contenido principal">
        <h1>Contacto</h1>
        <form class="needs-validation" aria-label="Formulario de contacto">
            <fieldset aria-label="Campos del formulario de contacto">
                <div class="form-group">
                    <label for="nombre-contacto" class="form-label">Nombre:</label>
                    <input type="text" id="nombre-contacto" name="nombre" required placeholder="Nombre"
                        class="form-control" aria-required="true" aria-label="Introducir nombre">
                </div>
                <div class="form-group">
                    <label for="email-contacto" class="form-label">Email:</label>
                    <input type="email" id="email-contacto" name="email" required placeholder="Email"
                        class="form-control" aria-required="true" aria-label="Introducir correo electrónico">
                </div>
                <div class="form-group">
                    <label for="mensaje" class="form-label">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="4" required placeholder="Escribe tu mensaje..."
                        class="form-control" aria-required="true" aria-label="Introducir mensaje"></textarea>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary" aria-label="Enviar formulario de contacto">
                Enviar
            </button>
        </form>
    </main>

    <!-- FOOTER -->
    <%- include("footer") %>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/client.js"></script>

</html>