<footer aria-label="Pie de página">
    <p>
        Este proyecto está desarrollado por estudiantes de la
        <a aria-label="Visitar la página de la Universidad Complutense de Madrid" href="https://www.ucm.es/"
            target="_blank">Universidad
            Complutense de Madrid</a>.
        <br>
        Todos los derechos reservados &copy; 2025.
    </p>
</footer>