<!DOCTYPE html>
<html lang="es" data-theme="default">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Reservar con EcoMóvil</title>
  <meta name="description"
    content="EcoMóvil es una empresa de vehículos eléctricos disponibles para prestamo. Esta página permite a nuestros empleados gestionar nuestra flota." />
  <meta name="keywords"
    content="transporte ecológico, vehículos eléctricos, movilidad sostenible, EcoMóvil, soluciones de transporte, movilidad verde" />
  <meta name="author" content="EcoMóvil" />
  <meta name="robots" content="index, follow" />
  <link rel="icon" href="img/Logo.svg" type="image/x-icon" />

  <!-- Enlaces a las hojas de estilo -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>
  <!-- NAVBAR -->
  <%- header %>

  <main aria-label="Contenido principal de la página">
    <h1>Reservar vehículos</h1>
    <form class="needs-validation" aria-label="Formulario de reserva de vehículos" action="/reserva" method ="POST">
      <fieldset aria-label="Datos del usuario">
        <legend>Datos del usuario</legend>
        <div>
          <label for="nombre-reserva" class="form-label">Nombre completo</label>
          <input type="text" class="form-control" name="nombre" id="nombre-reserva" aria-required="true" required />
        </div>
        <div>
          <label for="email-reserva" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" name="email" id="email-reserva" aria-required="true" required />
        </div>
        <div>
          <label for="telefono" class="form-label">Teléfono (opcional)</label>
          <input type="tel" class="form-control" name="telefono" id="telefono" pattern="[0-9]{9}"
            title="Introduce 9 dígitos sin espacios ni guiones" />
          <div class="form-text">Formato: 123456789</div>
        </div>
      </fieldset>
      <fieldset aria-label="Detalles de la reserva">
        <legend>Detalles de la reserva</legend>
        <div>
          <label for="vehiculo" class="form-label">Vehículo</label>
          <select class="form-select" id="vehiculo" aria-required="true" required aria-label="Seleccionar vehículo">
            <option selected disabled value="">
              Seleccione un vehículo
            </option>
            <option value="1234ABC">Tesla Model 3 (1234ABC)</option>
            <option value="5678DEF">Renault Zoe (5678DEF)</option>
            <option value="9012GHI">Nissan Leaf (9012GHI)</option>
          </select>
        </div>
        <div>
          <label for="inicio" class="form-label">Inicio de reserva</label>
          <input type="datetime-local" class="form-control" name="inicioFecha" id="inicioFecha" aria-required="true" required
            aria-label="Seleccionar fecha y hora de inicio" />
        </div>
        <div>
          <label for="fin" class="form-label">Fin de reserva</label>
          <input type="datetime-local" class="form-control" name="finFecha" id="finFecha" aria-required="true" required
            aria-label="Seleccionar fecha y hora de fin" />
        </div>
      </fieldset>
      <div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="condiciones" id="condiciones" aria-required="true" required
            aria-label="Aceptar condiciones de uso" />
          <label class="form-check-label" for="condiciones">
            Acepto las condiciones de uso
          </label>
        </div>
      </div>
      <div aria-label="Botones del formulario de reserva">
        <button type="submit" class="btn btn-primary" aria-label="Enviar formulario de reserva">
          Enviar reserva
        </button>
        <button type="reset" class="btn btn-secondary" aria-label="Limpiar formulario de reserva">
          Limpiar formulario
        </button>
      </div>
    </form>
  </main>

  <!-- FOOTER -->
  <%- include("footer") %>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/client.js"></script>

</html>